body {
    background-color: #4EA6B2;
    margin: 0;
}

header {
    background-color: #fff;
    color:#37848f;
    height: 90px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.aboutbox {
    background-color: rgb(255, 251, 247);
    width: 100%;
    height: auto;
    margin: 5% 30%;
    padding: 2%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    margin-right: 100px; /* Adjust the value to control the space between words */
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0; /* Remove the margin for the last anchor to avoid extra spacing */
}

nav a:link,
nav a:visited {
    color: rgb(51, 125, 148);
    text-decoration: none;
}

nav a:hover {
    color: rgb(98, 171, 180);
}

main a:link,
main a:visited {
    color: white;
    text-decoration: none;
}