body {
    background-color: #4EA6B2;
    margin: 0;
}

header {
    background-color: #D0CCCC;
    height: 90px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex; /* Use Flexbox for the container */
    justify-content: space-around; /* Add space around the items */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.homebox {
    flex: 1; /* Allow the box to grow to fill available space */
    max-width: 800px;
    margin: 50px;
    color: white;
    padding: 15px;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgbox {
    flex: 1; /* Allow the box to grow to fill available space */
    max-width: 500px;
    height: auto;
    border: solid black;
    margin: 40px;
}

nav a:link,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .homebox,
    .imgbox {
        flex: 1; /* Take up full width on smaller screens */
        max-width: none; /* Remove max-width on smaller screens */
        margin: 20px; /* Adjust margin for smaller screens */
    }
}
