body {
    background-color: #4EA6B2;
    margin: 0;
}

header {
    background-color: #fff;
    color:#37848f;
    height: 90px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homebox {
    flex: 1; 
    max-width: 800px;
    margin: 5%;
    margin-bottom: 0%;
    color: white;
    padding: 10px;
    font-size: 2em;
}

.imgbox {
    flex: 1; 
    max-width: 560px;
    margin: 5%;
}

.cta-buttons {
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 50px;
}

.cta-buttons a.contact-btn,
.cta-buttons button {
    display: block;
    width: auto;
    height: auto;
    margin: 0 10px;
    padding: 10px 20px; /* Adjusted padding values */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #4EA6B2;
    background-color: #fff;
    border: 2px solid #4EA6B2;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Hover effect for both buttons */
.cta-buttons a.contact-btn:hover,
.cta-buttons button:hover {
    background-color: #37848f;
    color: #fff;
}

nav a {
    margin-right: 100px; /* Adjust the value to control the space between words */
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0; /* Remove the margin for the last anchor to avoid extra spacing */
}

nav a:link,
nav a:visited {
    color: rgb(51, 125, 148);
    text-decoration: none;
}

nav a:hover {
    color: rgb(98, 171, 180);
}

main a:link,
main a:visited{
    color: white;
    text-decoration: none;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
    }

    .homebox,
    .imgbox {
        flex: 1; 
        max-width: none; 
        margin: 10px; /* Adjusted margin for better spacing */
    }
}
